<div class="container" >

    <div class="row">
        <div class="span12" >
            <h1>{{ course.university }} &gt; {{ course.code }}</h1>

        </div>

    </div>

    <div class="row">
        <div class="span3" >
            <div class="">
                <h2>{{ course.name }}</h2>


                <accordion close-others="true">
                    <accordion-group heading="{{section.name}}" ng-repeat="section in sections" style="margin-right: 15px">
                        <ul>
                            <li ng-repeat="chapter in section.chapters"><a href="" ng-click="showChapter(chapter)">{{ chapter.name }}</a></li>
                        </ul>
                    </accordion-group>
                </accordion>


            </div>

        </div>

        <div class="span9 " >
            <div class="">
                <h1>{{ currentChapter.name }}</h1>

                <accordion close-others="true">


                        <accordion-group  ng-repeat="module in currentChapter.modules" ng-repeat="section in sections" style="margin-right: 15px">

                            <accordion-heading>
                                <h3>{{ getModuleName(module) }}</h3>
                            </accordion-heading>

                            <span mathjax-bind="getModuleContent(module)"></span>


                        </accordion-group>





                </accordion>




            </div>
        </div>
    </div>


</div>