<div class="container" >

    <div class="row">
        <div class="span12" >
            <h1>{{ course.university }} &gt; {{ course.code }}</h1>

        </div>

    </div>

    <div class="row">
        <div class="span3" >
            <div class="box">
                <h2>{{ course.name }}</h2>
                <p ng-repeat="module in modules"><a href="" ng-click="setModule(module)">{{ module.title }}</a></p>
            </div>

        </div>

        <div class="span9 " >
            <div class="box">
                <h1>{{ currentModule.title }}</h1>
                <span mathjax-bind="currentModule.content"></span>
            </div>
        </div>
    </div>


</div>