<div class="container" >

    <div class="row">
        <div class="span12" >
            <h1>{{ university.name }} &gt; {{ course.courseCode }}</h1>

        </div>

    </div>

    <div class="row">
        <div class="span3" >
            <div class="">
                <h2>{{ course.title }}</h2>


                <accordion close-others="true">
                    <accordion-group  ng-repeat="section in sections | orderBy:'sectionOrder'" style="margin-right: 15px">
                        <accordion-heading>
                            <input  type="text" ng-model="section.title" ui-blur="updateSection(section)">
                            <span class="btn-group" style="margin-top: -15px">
                                    <a class="btn btn-mini btn-primary" ng-click="decOrderSection(section)" ng-disabled="isUpSectionDisable(section)" >Up</a>
                                    <a class="btn btn-mini btn-primary" ng-click="incOrderSection(section)" ng-disabled="isDownSectionDisable(section)">Down</a>
                            </span>
                        </accordion-heading>


                            <div ng-repeat="chapter in section.chapters | orderBy:'chapterOrder'">
                                <p ng-click="showChapter(chapter, section)">

                                    <input type="text"  ng-model="chapter.title" class="span2" ui-blur="updateSection(section)">
                                </p>
                                <span class="btn-group" style="margin-top: -35px">
                                    <a class="btn btn-mini btn-success" ng-click="decOrderChapter(chapter, section)" ng-disabled="isUpChapterDisable(chapter, section)">Up</a>
                                    <a class="btn btn-mini btn-success" ng-click="incOrderChapter(chapter, section)" ng-disabled="isDownChapterDisable(chapter, section)" >Down</a>
                                </span>



                            </div>
                            <a class="btn btn-mini" ng-click="addChapter(section)" >Add</a>

                    </accordion-group>
                </accordion>
                <a class="btn btn-small" ng-click="addSection()" >Add</a>


            </div>

        </div>

        <div class="span9 " >
            <div class="">
                <h1>{{ currentChapter.title }} <a class="btn btn-primary" ng-click="saveCurrent()">Save!</a> </h1>

                <div>
                    <label for="fileToUpload">Select a File to Upload</label>
                    <input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
                    <input type="button" ng-click="uploadFile()" value="Upload" />
                </div>

                <progress percent="progress" class="progress-bar active">{{progress}}%</progress>

                <div ng-repeat="file in uploadedFiles">
                    <a ng-href="{{ file }}" target="_blank"> {{ file }} </a>
                </div>



                <accordion close-others="true">

                        <span ng-repeat="module in currentModules | orderBy:'$order'">

                            <accordion-group   style="margin-right: 15px">

                                <accordion-heading>
                                    <h3>{{ module.title }}</h3>
                                </accordion-heading>

                                <div class="btn-toolbar">

                                    <div class="btn-group">
                                        <a class="btn btn-mini" ng-click="decOrder(module)" ng-disabled="canNotDec(module)">Up</a>
                                        <a class="btn btn-mini" ng-click="incOrder(module)" ng-disabled="canNotInc(module)">Down</a>
                                    </div>
                                </div>

                                <div class="input-prepend">
                                    <span class="add-on">Heading</span>
                                    <input class="span8" id="prependedInput" type="text" ng-model="module.title" >
                                </div>


                                <textarea ui-tinymce="tinymceOptions" ng-model="module.content">Hello</textarea>

                                <p></p>

                                <p mathjax-bind="module.content"></p>






                            </accordion-group>
                        </span>




                </accordion>

                <a ng-disabled="isModuleAddDisable()"  ng-click="addModule()" class="btn" >Add</a>




            </div>
        </div>
    </div>


</div>